<!-- component -->
<nav class=" bg-main w-full flex relative justify-between items-center mx-auto px-8 h-20">
  <!-- logo -->
  <% if @view == :dash_index %>
  <div class="inline-flex flex-col">
    <div class="hidden sm:block flex-shrink flex-grow-0 justify-start px-2 font-bold text-xl">
      <%= @company.name %>
    </div>
    <%= form_with(url: dashboard_path, method: :get) do %>
      <%= select_tag(
            :process_id,
            options_from_collection_for_select(@processes, 'id', 'name', @selected_process),
            {
              include_blank: true,
              onchange: 'this.form.submit();',
              class: "block w-full p-2 rounded border focus:outline-none focus:shadow-outline-blue focus:border-blue-300"
            }
          ) %>
    <% end %>
  </div>
  <% end %>

  <% if @view == :warehouses %>
    <div class="inline-flex ">
      <h1 class="font-bold text-xl">
        Bodegas
      </h1>
    </div>
  <% end %>


  <!-- end logo -->

  <!-- search bar -->
  <% if @view == :dash_index %>
    <div>
      <%= link_to dashboard_warehouses_path, title: "Bodegas" do %>
        <div class="flex flex-row justify-center items-center">
          <h1 class="font-bold text-xl">|</h1>
          <i class="fas fa-warehouse-alt mx-1"></i>
          <h1 class="font-bold text-xl">
            Bodegas
          </h1>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @view == :warehouses %>
    <div>
      <%= link_to dashboard_path, title: "Procesos" do %>
        <div class="flex flex-row justify-center items-center">
          <h1 class="font-bold text-xl">|</h1>
          <i class="fas fa-industry-alt mx-1"></i>
          <h1 class="font-bold text-xl">
            Procesos
          </h1>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- end search bar -->
</nav>